[lfs]                                                                           
    url = "https://lovelace.cs.umn.edu:8080/hackeyhour/GitLFSDemo"                    
                                                                                
[http]                                                                          
    sslverify = false    
